/* pure-u-sm (mobile > 568px)  */
@media screen and (min-width: 48em) {
}

/* pure-u-md (tablette > 768px) */
@media screen and (min-width: 48em) {
	header.fixed {
		background-color: white;
		border-bottom: 2px solid red;
		box-shadow: 10px 0px 15px RGBA(0,0,0,0.15),
		-10px 0px 15px RGBA(0,0,0,0.15),
		0px 6px 10px 0px RGBA(0,0,0,0.15);
		margin: 0;
		opacity: 0.98;
		position: fixed;
		top: 0;
		width: 100%;
	}

	article {
		width: 80%;
	}
	article.fullWidth {
		padding: 0 0.5em;
	}

	#mainMenu {
		text-align: left;
	}
	#mainMenu .pure-menu-heading {
		padding: 0.3em 1em 0.3em 0;
	}

	#mainMenu .pure-menu-list {
		vertical-align: middle;
	}
	#mainMenu .pure-menu-link {
		width: 100px;
		text-align: center;
	}

	header.fixed #logo {
		display: inline-block;
	}
	#logo {
		display: inline-block;
		width: auto;
	}
	.iconsWithDesc p {
		margin-right: 1em;
	}
}

/* pure-u-lg (desktop > 1024px) */
@media screen and (min-width: 64em) {
	#headerContainer, #footerTop, #footerBottom {
		margin: auto;
		padding: 0 10%;
	}
	.slider {
		width: 80%;
	}
	.fullWidth {
		margin: auto;
		width: 80%;
	}
	#mainMenu .pure-menu-link {
		padding: 0.8em 1em;
	}
}

/* pure-u-xl (desktop > 1280px) */
@media screen and (min-width: 80em) {
	html {
		font-size: 14pt;
	}
	#mainMenu .pure-menu-link {
		width: auto;
		text-align: center;
	}
	#mainMenu .pure-menu-link {
		padding: 0.8em 0.8em;
	}
}