/* pure-u-sm (mobile > 568px)  */
@media screen and (min-width: 48em) {
}

/* pure-u-md (tablette > 768px) */
@media screen and (min-width: 48em) {
	#headerContainer, #footerTop, #footerBottom {
		padding: 0 10%;
	}

	article {
		width: 80%;
	}
	article.fullWidth {
		padding: 0 0.5em;
	}

	#mainMenu .pure-menu-heading {
		padding: 0.5em 1em;
	}

	#mainMenu .pure-menu-list {
		text-align: left;
		vertical-align: middle;
	}
	#mainMenu .pure-menu-link {
		padding: 0.8em 1em;
		text-align: left;
	}

	header.fixed #logo {
		display: inline-block;
	}
	#logo {
		display: inline-block;
		width: auto;
	}
	.iconsWithDesc p {
		margin-right: 1em;
	}
}

/* pure-u-lg (desktop > 1024px) */
@media screen and (min-width: 64em) {
	.slider {
		width: 80%;
	}
}

/* pure-u-xl (desktop > 1280px) */
@media screen and (min-width: 80em) {
	html {
		font-size: 14pt;
	}
}