/*********** LE CSS EST EN MOBILE-FIRST !!!! ************/
/* LES STYLES DESKTOP SONT A METTRE DANS responsive.css */
/********************************************************/

h1, h2, h3, h4, h5 {
	font-weight: normal;
}
a {
	text-decoration: none;
}

body > header {
	z-index: 10;
}

#joinUs button {
	width: 100%;
}

article {
	padding: 0 0.5em;
	margin: 2em auto;
}
article.fullWidth {
	padding: 0;
}
.fullWidth {
	width: 100%;
}


/*************************/
/* LOGO + MENU PRINCIPAL */
/*************************/

#logo {
	text-align: center;
	display: block;
	width: 100%;
}
#mainMenu {
	text-align: center;
}
#mainMenu .pure-menu-list {
	text-align: center;
	vertical-align: bottom;
	white-space: normal;
}
#mainMenu .pure-menu-item {
	vertical-align: middle;
}
#mainMenu .pure-menu-link {
	padding: 0.7em 0.4em;
	white-space: normal;
}
#mainMenu .pure-menu-link:hover {
	color: #dc233c;
}

#defineProjectIntro div {
	padding: 0 0 0 1em;
}

.slider {
	margin: auto;
	width: 100%;
}

#joinUs header {
	margin: 1em 0;
}
#joinUs input {
	margin-bottom: 0.5em;
}
.right-caret:before {
	content: "\25BA\0020";
	font-size: 45%;
	vertical-align: 0.5em;
}

#footerTop, #footerBottom {
	padding: 1em 0.5em;
}
#footerTop {
	background-color: #1a1a1a;
	border-bottom: 4px solid #202020;
	padding-top: 2em;
}

#footerTop {
	color: white;
}
#footerTop a {
	color: white;
}
#footerTop nav {
	margin: 1em 0.5em;
}
#footerTop ul {
	padding: 0;
	list-style-type: none;
}
#footerTop li {
	font-size: 80%;
}
#footerTop img {
	padding: 1em 0;
}
#footerBottom {
	background-color: #121212;
}

article > header {
	text-align: center;
	text-transform: uppercase;
}
.iconsWithDesc ul {
	padding-left: 0;
}
.iconsWithDesc li {
	background: none no-repeat;
	min-height: 100px;
}
.iconsWithDesc h3 {
	margin-top: 0;
}
.iconsWithDesc li h3, .iconsWithDesc li p {
	margin-left: 120px;
}

.red {
	color: #dc233c;
}
.listTitle {
	text-transform: uppercase;
}
.noTopMargin {
	margin-top: 0;
}
.titleWithUnderline {
	margin-bottom: 1.5em;
	text-transform: uppercase;
	position: relative;
}
.titleWithUnderline:before {
	content: "";
	position: absolute;
	width: 20%;
	height: 1px;
	top: 1.5em;
	left: 40%;
	border-bottom: 1px solid black;
}


/****************************/
/* OVERRIDES/ADDITIONS PURE */
/****************************/

.pure-img {
}
.pure-menu-heading {
	padding: 0;
}
.pure-form-aligned .pure-control-group label {
	width: 35%;
}
.pure-form-aligned .pure-controls {
	margin-left: 35%;
	padding-left: 1.3em;
}


.xsmall {
	font-size: 75%;
}
.small {
	font-size: 85%;
}
.large {
	font-size: 125%;
}
.xlarge {
	font-size: 150%;
}
.xxlarge {
	font-size: 175%;
}


/****************/
/* SLIDER JSSOR */
/****************/

/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
	position: absolute;
}

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
	position: absolute;
	/* size of bullet elment */
	width: 16px;
	height: 16px;
	background: url('../images/jssor/b05.png') no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb05 div {
	background-position: -7px -7px;
}

.jssorb05 div:hover, .jssorb05 .av:hover {
	background-position: -37px -7px;
}

.jssorb05 .av {
	background-position: -67px -7px;
}

.jssorb05 .dn, .jssorb05 .dn:hover {
	background-position: -97px -7px;
}

/* jssor slider arrow navigator skin 22 css */
/*
.jssora22l                  (normal)
.jssora22r                  (normal)
.jssora22l:hover            (normal mouseover)
.jssora22r:hover            (normal mouseover)
.jssora22l.jssora22ldn      (mousedown)
.jssora22r.jssora22rdn      (mousedown)
*/
.jssora22l, .jssora22r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 40px;
	height: 58px;
	cursor: pointer;
	background: url('../images/jssor/a22.png') center center no-repeat;
	overflow: hidden;
}

.jssora22l {
	background-position: -10px -31px;
}

.jssora22r {
	background-position: -70px -31px;
}

.jssora22l:hover {
	background-position: -130px -31px;
}

.jssora22r:hover {
	background-position: -190px -31px;
}

.jssora22l.jssora22ldn {
	background-position: -250px -31px;
}

.jssora22r.jssora22rdn {
	background-position: -310px -31px;
}